{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/style.css"/>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/recent.css"/>
	<link rel="stylesheet" media="screen" href="https://lainchan.org/stylesheets/font-awesome/css/font-awesome.min.css"/>

	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
	{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
	{% include 'header.html' %}
</head>
<body>
	<div class="bar top">
		{{ boardlist.top }}
	</div>

	<header>
		<center>
			<img alt="header" class="lain_banner" src="static/canberrachan.png"/>
		</center>
	</header>

    <div class="ban" id="global2">      <h2>What is Canberrachan?</h2>  <p>Canberrachan is an Animal Crossing imagebaord where anyone can post comments and share images. Users do not need to register an account before participating in the community.</p>  <p>Please read the <a href="https://canberrachan.org/rules">rules</a> and get a feel of the site before posting!</p></div>
	<div class="ban" id="global3">   
			<h2>Latest News</h2>
		{% if not recent_news %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in recent_news %}
				<h4 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h4>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
		</div>
	<div class="ban" id="global">
		<h2>Latest Images</h2>
		<div style="display: flex; flex-wrap: wrap;">
			{% for post in recent_images %}
				<div style="height: 175px; width: 175px; display: inline-flex; align-items: center; justify-content: center;">
					<a href="{{ post.link }}">
						<img src="{{ post.src }}" style="max-width:150px; max-height:150px; width:auto; height:auto;" alt="">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="ban" id="global">
		<h2>Latest Posts</h2>
		<table style="border-collapse: separate; border-spacing: 2px;">
			{% for post in recent_posts %}
				<tr>
					<td style="width: 100px;"><a href="{{ post.op }}{% if not post.thread %}{{ post.id }}{% else %}{{ post.thread }}{% endif %}.html"> 
						>>/{{ post.board }}/{% if not post.thread %}{{ post.id }}{% else %}{{ post.thread }}{% endif %}
					</a>:</td>
					<td><a href="{{ post.link }}">
						{{ post.snippet }}
					</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="ban" id="global">
		<h2>Stats</h2>
		<div style="display: flex; flex-wrap: wrap;">
			<div style="width:33%; display: inline-flex; justify-content: center;"><p>Total posts: {{ stats.total_posts }}</div>
			<div style="width:33%; display: inline-flex; justify-content: center;"><p>Unique posters: {{ stats.unique_posters }}</div>
			<div style="width:33%; display: inline-flex; justify-content: center;"><p>Active content: {{ stats.active_content|filesize }}</div>
		</div>
	</div>
	<div class="footer">
	<footer>
        <center>
        	<a href="mailto:madofrog@canberrachan.org?Subject=Why Does Your Website Suck%3F" target="_top">madofrog@canberrachan.org</a>
        </center>

	</footer>
	</div>
</body>
</html>
{% endfilter %}
