<div class="ban" id="global">
    <h2>GLOBAL RULES</h2>
    <ol start="0">
        <li>Do not post, discuss, request, or link to anything that violates local or English law.</li>
        <li>Do not post in or view any boards if you are under 18 years of age.</li>
        <li>If you break the rules we will delete your post. Do it repeatedly and you'll be banned.</li>
        <li>Do not post off-topic replies.</li>
        <li>Do not call for mods, or announce reports in a thread.</li>
        <li>Do not talk about this site or any others outside of the /q/ thread.</li>
        <li>Do not spam or advertise unrelated content.</li>
        <li>Do not post anything that could be perceived as child pornography.</li>
        <li>Do not post or request personal information</li>
        <li>Please, no "junk" drawings. Quality over quantity!</li>
        <li>If you must post it, spoiler any NSFW content and make sure it's relevant to the discussion.</li>
        <li>Read the rules again. At least 3 times. </li>
    </ol>
</div>

<div class="ban" id="tips">
    <h2>PRO TIPS FOR MAXIMUM FUN:</h2>
    <ul>
        <li>Take it easy, and try to have a sense of humour.</li>
        <li>Take your time when drawing.</li>
        <li>I don't know how to use a computer, so let me know if there are any problems, either by email or in the /q/ thread.</li>
        <li>Put "fortune" in the email field for a fortune!</li>
        <li>Always argue in good faith and avoid using personal attacks.</li>
        <li>You should always elaborate on your opinions rather than just stating them.</li>
        <li>File uploads are restricted for a reason, you are encouraged to draw your own images to accompany your posts. That's the site's gimmick.</li>
    </ul>
</div>
