<div class="ban" id="global">
    <h2>GLOBAL RULES</h2>
    <ol>
        <li>Do not post, discuss, request, or link to anything that violates local, United States, or United Kingdom law.</li>
        <li>Do not post in or view any boards if you are under 18 years of age.</li>
        <li>Do not post gore, animal abuse, or quesitonable 2D/3DCG/3DPG sexual depictions of children. This includes "child models."</li>
        <li>Do not post off-topic replies.</li>
        <li>Do not call for mods, or announce reports in a thread.</li>
        <li>Do not complain about other sites.</li>
        <li>Do not spam or advertise unrelated content.</li>
        <li>Do not post or request personal information</li>
		<li>Do not try to start drama.</li>
        <li>If you must post it, spoiler any NSFW content and make sure it's relevant to the discussion.</li>
        <li>Read the rules again. At least 3 times. </li>
    </ol>
</div>

<div class="ban" id="tips">
    <h2>Some advice:</h2>
    <ul>
        <li>Take it easy, and try to have a sense of humour.</li>
        <li>I don't know how to use a computer, so let me know if there are any problems by email.</li>
        <li>Put "fortune" in the email field for a fortune!</li>
		<li>The email field is a good place to put a friend code.</li>
        <li>Always argue in good faith and avoid using personal attacks.</li>
        <li>You should always elaborate on your opinions rather than just stating them.</li>
		<li>Think to yourself: "does this post actually have anything to do with Animal Crossing?" before posting.</li>
		<li>Use a dark theme so your retinas don't melt.</li>
    </ul>
</div>
